.h-box {
  display: flex;
  flex-direction: row;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.day-calendar {
  align-items: center;
}

.date-header {
  width: 500px;
  justify-content: space-between;
}
